<h1 class="text-center">{{title}}</h1>
<div class="btn-group btn-group-toggle Navigator__position Top-Spacing" data-toggle="buttons">
  <label class="btn btn-success">
    <input type="radio" name="options" id="option1" autocomplete="off" routerLink="/dashboard"> Dashboard
  </label>
  <label class="btn btn-success">
    <input type="radio" name="options" id="option2" autocomplete="off" routerLink="/heroes"> Heroes
  </label>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>