<div *ngIf="messageService.messages.length">

  <h2 class="LateralSpacing Top-spacing-small">Messages</h2>
  <button class="LateralSpacing clear btn btn-primary"
          (click)="messageService.clear()">clear</button>
  <div class="LateralSpacing" *ngFor='let message of messageService.messages'> {{message}} </div>

</div>