.Card__size {
    width: 225px;
    height: 190px;
}

.Card__body {
    display: flex;
    align-items: center;
}

.Card__body__normal {
    margin-bottom: 30px;
}

@media(max-width: 990px){
    .row {
        justify-content: center;
    }
}

@media(max-width: 768px){
    .container {
        display: flex;
        justify-content: center;
    }
}

