<h3 class="text-center Top-Spacing">Top Heroes</h3>
<div class="container">
  <div class="row">
    <div *ngFor="let hero of heroes; let i = index" class="col-sm">
      <a routerLink="/detail/{{hero.id}}">
        <div class="container">
          <div>
            <div class="card text-white bg-primary mb-3 Card__size" >
              <div class="card-header">{{hero.name}}</div>
              <div class="card-body Card__body" [ngClass]="{'Card__body__normal': !checkHeroDescription(i)}">
                <p class="card-text">{{hero.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<app-hero-search></app-hero-search>
