/* Application-wide Styles */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';


h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[text],
button {
  color: #888;
  font-family: Cambria, Georgia;
}

/* everywhere else */

* {
  font-family: Arial, Helvetica, sans-serif;
}

.Top-Spacing {
  margin-top: 20px;
  margin-bottom: 40px;
}

.Top-spacing-small {
  margin-top: 10px;
  margin-bottom: 20px;
}

.LateralSpacing {
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 768px) {
  .Mobile__center {
    display: block;
    margin: 0 auto !important;
  }
  .Mobile__text-center{
    margin: 0;
    text-align: center;
  }
}
