<div class="LateralSpacing Mobile__text-center">
  <h2>My Heroes</h2>
  <div class="form-group">
    <label>Hero name:
      <input class="form-control" #heroName />
    </label>
    <br>
    <label>Hero description:
        <input class="form-control" #heroDescription />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="btn btn-primary ml-2" (click)="add(heroName.value, heroDescription.value); heroName.value=''; heroDescription.value=''">
      add
    </button>
  </div>
  <div class="Table-container">
    <ngx-datatable class='bootstrap' width="550"
      [rows]='heroes'
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="getRowHeight"
      [scrollbarH]='true'
      [limit]="10">
      <ngx-datatable-column name="Id" [width]="5">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" [width]="30">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Description" [width]="0">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <!--
  <ul class="heroes list-group Mobile__center">
    <li class="list-group-item List__container" *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="delete btn btn-danger btn-sm" title="delete hero" (click)="delete(hero)">x</button>
    </li>
  </ul>
  -->
</div>
