<div id="search-component">
  <h4 class="LateralSpacing Mobile__text-center Top-spacing-small">Hero Search</h4>

  <input #searchBox class="form-control w-50 LateralSpacing Mobile__center" id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="LateralSpacing Top-spacing-small list-group">
    <li class="list-group-item w-50"  *ngFor="let hero of heroes$ | async" >
      <a class="Hover-fix" routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>